-var pageTitle = 'Page Title'
-var pageDesc = 'Page Description'

mixin menu (name, sub1, sub2, sub3, sub4)
	ul.sub-menu= name
		.arrow-down
			img(src="/img/jeeper/arrow-down.png", alt="")
		.menu-mode
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub1
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub2
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub3
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub4
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub4
			li
				a(href="#")
					img(src="/img/jeeper/654bhfhdgdf.png", alt="", srcset="")
					p= sub4

mixin logo-slider(path,name,...MenuList)
		.logos-slider__slide
			.logos-slider__front
				img(src=path, alt="")
				p= name
			ul.logos-slider__menu
				li
						a(href= name)
							img(src=path, alt="", srcset="")
							span Все модели
				each item in MenuList
					- var patt = /\s+/i;
					if patt.test(item)
						- var newitem = item.split(' ').join('_');
							li
								a&attributes({ href: name + "#" + newitem.toLowerCase() + '.html' })
									img(src=path, alt="", srcset="")
									span= item
					else
						li
							a&attributes({ href: name + "#" + item.toLowerCase() + '.html' })
								img(src=path, alt="", srcset="")
								span= item

mixin accordeon(path,...MenuList)
				each item in MenuList
					.accordion-item__link
						a(href="#")
							img(src= path, alt="", srcset="")
							p= item

mixin f-list(name,...MenuList)
	each item in MenuList
		li
			a&attributes({ href: name + "#" + item.toLowerCase() + '.html' })=item

block loadfirst
	link(href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css")
	link(href="css/style-jeeper.min.css" rel="stylesheet" type="text/css")
	

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= pageTitle
		meta(name="description", content= pageDesc)
		block loadfirst

	body
		.nav
			.container
				.nav__top
					.tel
						.img
							.img-icon
							#r1.ring
							#r2.ring
							#r3.ring
						.tel__col
							a(href='tel:+74959599501') +7 495 959 95 01
							a(href='tel:+74959599500') +7 495 959 95 00
							a(href='tel:+79037666222') +7 903 766 62 22 
					.logo
						img(src="/img/jeeper/logo.png", alt="", srcset="")
					.address
						p Адрес:
						p Ленинский проспект, 11
						p г. Москва
					.search
						.search__bar
							.searchbox
								input(placeholder='Введите поисковый запрос...' type='text')
								input(type='submit' value='')
						#search-img.img
							.img-icon
							#r1.ring
							#r2.ring
							#r3.ring
			.nav__bot
				.container
					.menu
						+menu("Внешний обвес", "Приборные доски", "Коврики", "Рули", "Отделка салона")
						+menu("Оптика", "Штука 1", "Штука 2", "Рули", "Отделка салона")
						+menu("Детали интерьера", "Детали интерьера аж два раза длля длины", "Коврики", "Рули", "Отделка салона")
						+menu("Шины и диски", "Приборные доски", "Коврики", "Рули", "Отделка салона")
						+menu("Перфоманс запчасти", "Приборные доски", "Коврики", "Рули", "Отделка салона")
					.nav__menu-mobile
								p Каталог
		.container-slider
			.container-slider__fixer
				.image-slider.swiper-container
					h1 Тюнинг джипов и внедорожников
					.image-slider__wrapper.swiper-wrapper
						.image-slider__slide.swiper-slide.swiper-lazy
							img(src="img/jeeper/1.png", alt="", srcset="")
						.image-slider__slide.swiper-slide.swiper-lazy
							img(src="img/jeeper/2.png", alt="", srcset="")
						.image-slider__slide.swiper-slide.swiper-lazy
							img(src="img/jeeper/3.png", alt="", srcset="")
					.image-slider__prev
					.image-slider__next
		.content
			.stripes
				.stripes-1
				.stripes-2
			.models.container-pad
				h3 Более 50 моделей автомобилей
				.logos-slider
					.logos-slider__wrapper
						+logo-slider("/img/jeeper/logo/bmw.png", "BMW", "X5", "X6")
						+logo-slider("/img/jeeper/logo/audi.png", "Audi", "Q5", "Q7")
						+logo-slider("/img/jeeper/logo/jeep.png", "Jeep", "Grand Cherokee", "Liberty", "Compass", "Patriot", "Commander")
						+logo-slider("/img/jeeper/logo/mitsubishi.png", "Mitsubishi", "L200")
						+logo-slider("/img/jeeper/logo/Hummer.png", "H1", "H2", "H3")
						+logo-slider("/img/jeeper/logo/nissan.png", "Nissan", "X5", "X6")
						+logo-slider("/img/jeeper/logo/cadilac.png", "Cadilac", "Q5", "Q7")
						+logo-slider("/img/jeeper/logo/chrysler.png", "Chrysler", "Grand Cherokee", "Liberty", "Compass", "Patriot", "Commander")
						+logo-slider("/img/jeeper/logo/doodge.png", "Doodge", "L200")
						+logo-slider("/img/jeeper/logo/ford.png", "Ford", "H2", "H3")
						+logo-slider("/img/jeeper/logo/honda.png", "Honda", "X5", "X6")
						+logo-slider("/img/jeeper/logo/infinity.png", "Infinity", "Q5", "Q7")
						+logo-slider("/img/jeeper/logo/kia.png", "Kia", "Grand Cherokee", "Liberty", "Compass", "Patriot", "Commander")
						+logo-slider("/img/jeeper/logo/land.png", "Land", "L200")
						+logo-slider("/img/jeeper/logo/lexus.png", "Lexus", "H2", "H3")
						+logo-slider("/img/jeeper/logo/toyota.png", "Toyota", "H2", "H3")
			.catalog.container-pad
				.decor1
					img(src="/img/jeeper/image 36.png", alt="")
				.decor2
					img(src="/img/jeeper/image 66.png", alt="")
				h3 Каталог
				.accordion
					.accordion-tabs
						button.accordion-tab.accordion-active(data-actab-group='0' data-actab-id='0')
							.accordion-tab__text Детали интерьера
							.accordion-tab__img 
								img(src="/img/jeeper/pngguru 8.png", alt="")
						button.accordion-tab(data-actab-group='0' data-actab-id='1')
							.accordion-tab__text Шины и диски
							.accordion-tab__img 
								img(src="/img/jeeper/pngguru 8.png", alt="")
						button.accordion-tab(data-actab-group='0' data-actab-id='2') 
							.accordion-tab__text Внешний обвес
							.accordion-tab__img 
								img(src="/img/jeeper/pngguru 8.png", alt="")
						button.accordion-tab(data-actab-group='0' data-actab-id='3') 
							.accordion-tab__text Перфоманс запчасти
							.accordion-tab__img 
								img(src="/img/jeeper/pngguru 8.png", alt="")
						button.accordion-tab(data-actab-group='0' data-actab-id='4') 
							.accordion-tab__text Оптика
							.accordion-tab__img 
								img(src="/img/jeeper/pngguru 8.png", alt="")
					.accordion-content
							.accordion-item.accordion-active(data-actab-group='0' data-actab-id='0')
								.accordion-item__label
									.accordion-item__container
										+accordeon("/img/jeeper/image 11.png", "Пороги", "Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов, крышки, кунги","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса","Все для путешествий")
							.accordion-item(data-actab-group='0' data-actab-id='1')
								.accordion-item__label
									.accordion-item__container
										+accordeon("/img/jeeper/image 11.png", "Пороги2", "Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов, крышки, кунги","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса","Все для путешествий")
							.accordion-item(data-actab-group='0' data-actab-id='2')
								.accordion-item__label
									.accordion-item__container
										+accordeon("/img/jeeper/image 11.png", "Пороги3", "Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов, крышки, кунги","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса","Все для путешествий")
							.accordion-item(data-actab-group='0' data-actab-id='3')
								.accordion-item__label
									.accordion-item__container
										+accordeon("/img/jeeper/image 11.png", "Пороги4", "Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов, крышки, кунги","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса","Все для путешествий")
							.accordion-item(data-actab-group='0' data-actab-id='4')
								.accordion-item__label
									.accordion-item__container
										+accordeon("/img/jeeper/image 11.png", "Пороги5", "Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов, крышки, кунги","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса","Все для путешествий")
			.news.container-pad
				.decor3
					img(src="/img/jeeper/hotpng 3.png", alt="")
				h3 Новости
				.news__slider.swiper-container
						.news__wrapper.swiper-wrapper
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
							.news__slide.swiper-slide.swiper-lazy
								iframe(width='275' height='200' src='https://www.youtube.com/embed/dQw4w9WgXcQ')
						.news__control-next
						.news__control-prev
			.about.container-pad
				h3 О нас
				p Наша компания основана в 1994 году. Работает на Российском рынке более 20 лет. 
				p Являясь одним из первых магазинов по тюнингу внедорожников и легковых автомобилей в России мы рады Вам предложить: комплекты наддува двигателя, чип тюнинг, программаторы, MASS сенсоры, впускные системы нулевого сопротивления, оптимально настроенные системы выхлопа, облегченное навесное оборудование (шкивы, ролики) двигателя, всевозможный аэродинамический обвес, решетки радиатора, дуги, кенгурятники, пороги, лебедки, колесные диски на любой вкус, автомобиль и любого диаметра, резина, комплекты лифта (подъема) подвески, амортизаторы (регулировка жесткости, с защитой от перегрева, профессиональные серии), комплекты для понижения подвески, комплекты пневматической подвески, отделка салона всех видов и материалов (карбон, алюминий, дерево), накладки (молдинги) кузова всех возможных видов, аккумуляторные батареи, фары, задние светодиодные фонари , подфарники и более тысячи других аксессуаров ведущих фирм производителей.
				p Также у нас есть для Вас огромный выбор всевозможных приспособлений для облегчения эксплуатации автомобиля: домкраты, компрессора, коврики, стационарные осветительные приборы, звуковые сигналы повышенной мощности, дополнительные фары, противотуманки, багажники, пусковые аккумуляторные многофункциональные устройства, щетки стеклоочистителя, и многое многое другое.
				p Также Вы можете найти у нас большой выбор оригинальных и неоригинальных запчастей и расходных материалов в наличии и на заказ. Обращаем Ваше внимание! Открылся региональный отдел. Любые удобные для Вас формы оплаты, любые удобные для Вас способы доставки по всей России. Гибкая система скидок постоянным клиентам.
				h4 Тюнинг внедорожников, тюнинг квадроциклов, тюнинг снегоходов
				p В слово тюнинг мы вносим широчайший смысл:
				.about__text 
					p Полная подготовка внедорожников для экспедиций, активного отдыха и спорта (силовые обвесы, электрические лебедки, гидравлические лебедки, принудительные блокировки, шноркели, силовые пороги, обшивка алюминием, дополнительная светотехника ксеноновые фары, светодиодная оптика), различные аксессуары (реечные домкраты Hi-Jack, корозащитные стропы, буксировочные стропы, динамические стропы, стяжные ремни, все необходимое для настоящего джипера).
					p Тюнинг квадроциклов заключается в подготовке техники для преодоления сильного бездорожья. Сюда можно включить тюнинг подвески, лебедки, силовые обвесы, воздухозаборники. Для квадроциклов, как и для автомобилей, существует широчайший выбор различных комплектов тюнинга для улучшения ходовых характеристик и проходимости.
					p Тюнинг снегоходов также очень интересная тема. Для снегоходов делаются специальные комплекты лебедок (snow-winch). Лебедка легко селится на снегоход и подключается к штатной электросети.
		.slideshow
			.row
				.column
					img(src="/img/jeeper/image 18.png", alt="")
					img(src="/img/jeeper/image 19.png", alt="")
				.column
					img(src="/img/jeeper/image 28.png", alt="")
					.teer
						img(src="/img/jeeper/колесо.png", alt="")
				.column
					img(src="/img/jeeper/image 14.png", alt="")
					img(src="/img/jeeper/image 15.png", alt="")
					img(src="/img/jeeper/image 16.png", alt="")
				.column
					img(src="/img/jeeper/image 23.png", alt="")
					img(src="/img/jeeper/image 29.png", alt="")
		
		.map
			#map
			.contacts
				.wrapper
					h3 Контакты
					.tel
						p Телефон:
						a(href='tel:+74959599501') +7 495 959 95 01
						a(href='tel:+74959599500') +7 495 959 95 00
						a(href='tel:+79037666222') +7 903 766 62 22 
							span (круглосуточно)
					.social
						a(href='#') 
							img(src="img/jeeper/viber 1.png", alt="")
						a(href='#') 
							img(src="img/jeeper/instagram.png", alt="")
						a(href='#') 
							img(src="img/jeeper/facebook.png", alt="")
					.adress
						p Адрес: 
						| 
						span Ленинский проспект 11, Москва
					.email
						p Email: 
						| 
						a(href='#') avalancheco0@gmail.com
						| 
						a(href='#') avalancheco@rambler.ru
					.button
						a(href='#')
						.btn-empty Связаться с нами
							img(src="img/jeeper/telephone 1.png", alt="")
		.footer
			.container
				.inner
					.logo
						img(src="img/jeeper/image 1.png", alt="")
					.tel
						p +7 495 959 95 01
						p +7 495 959 95 00
						p +7 903 766 62 22 
					.adress
						p Адрес: 
						p Ленинский проспект, 11 г. Москва
						p avalancheco0@gmail.com
				.inner
					.menu-links
						.menu-links__top
							.col
								h4
									a(href="Внешний_обвес") Внешний обвес
								ul
									+f-list("Внешний_обвес","Пороги","Решетки радиатора","Хром детали","Бамперы, спойлеры","Аэродинамический обвес","Дуги","Дефлектора","Фаркопы и аксессуары","Аксессуары для пикапов","Летние полудвери","Капоты с ноздрями","Боковые зеркала","Гудки, сигналы","Шноркели","Экспедиционные багажники","Надкрылки","Выноски запасного колеса","Силовые бампера","Закаты в кузов","Все для путешествий","Лебедки","Летние мягкие крыши","Выдвижные поддоны","Чехлы запасного колеса")

						.menu-links__bot
							.col
								h4
									a(href="Детали_интерьера") Детали интерьера
								ul
									+f-list("Детали_интерьера", "Приборные доски","Коврики","Рули","Отделка салона")
							.col
								h4
									a(href="Шины_и_диски") Шины и диски
								ul
									+f-list("Шины_и_диски", "Диски","Коврики","Рули","Аксессуары для колес")
							.col
								h4
									a(href="Оптика") Оптика
								ul
									+f-list("Оптика", "Передняя оптика","Задняя оптика","Лампочки LED","Противотуманные фары","Дополнительная оптика")
						.menu-links__side
							.col
								h4
									a(href="Перфоманс_запчасти") Перфоманс запчасти
								ul
									+f-list("Перфоманс_запчасти", "Амортизаторы, подвеска, лифты","Плазменное зажигание, свечи","Турбины","Чипы, программаторы","Пневмоподвеска","Блокировки дифференциалов","Распродажа","Запчасти")
		.copyright © 2020. Jeeper-shop. All rights reserved.
	script(src="https://code.jquery.com/jquery-3.5.1.js", integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" , crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
	script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
	script(src="js/script-jeeper.js")